/* Your code here */
h1 {
    text-align: center;
}

#game-board{
    background-color: rgb(245, 242, 237);
    /* box-sizing: border-box; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    margin: 0px auto;
    gap: 16px 16px;
    padding: 0px;
    aspect-ratio: 1 / 1 ;
    max-height: 80vh;
}

.square {
    aspect-ratio: 1 / 1;
    padding: none;
    margin: none;
    width: 100%;
    border: solid 1px black;
}